body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  font-size: 2rem;
}

button {
  padding: 6px;
  border: none;
  border-radius: 0px;
  cursor: help;
  block-size: 1.8rem;
  text-align: top;

  transition-property: all;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

/* Colors */
button.blue {
  background-color: #3498db;
}

button.green {
  background-color: #2ecc71;
}

button.orange {
  background-color: rgb(255, 68, 0);
}

button.magenta {
  background-color: magenta;
}

button.gray {
  background-color: gray;
}
